<!-- Scripts -->
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.number.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.poptrox.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.baseurl }}/assets/js/main.js"></script>
