<nav>
  <ul>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    <li><a href="{{ site.baseurl }}/mission">Our Mission</a></li>
    <li><a href="{% if page.url == '/' %}#featured{% else %}{{ site.baseurl }}/#featured{% endif %}" class="scrolly">Featured Projects</a></li>
    <li><a href="{{ site.baseurl }}/grantees">Grantees</a></li>
    <li><a href="{{ site.baseurl }}/about">About Us</a></li>
    <li><a href="{% if page.url == '/' %}#three{% else %}{{ site.baseurl }}/#three{% endif %}" class="scrolly">Contact</a></li>
  </ul>
</nav>
