<nav id="nav">
  <ul>
    <li><a href="{{ site.baseurl }}/" {% if page.url == '/' %} class="active" {% endif %}>Home</a></li>
    <li><a href="{{ site.baseurl }}/mission/" {% if page.url == '/mission/' %} class="active" {% endif %}>Mission</a></li>
    <li><a href="{{ site.baseurl }}/about/" {% if page.url == '/about/' %} class="active" {% endif %}>About</a></li>
    <!--li><a href="{% if page.url == '/' %}#featured{% else %}{{ site.baseurl }}/#featured{% endif %}" class="scrolly">Featured Projects</a></li-->
    <li><a href="{{ site.baseurl }}/grantees/" {% if page.url == '/grantees/' %} class="active" {% endif %}>Grantees</a></li>
    <li><a href="{{ site.baseurl }}/contact/" {% if page.url == '/contact/' %} class="active" {% endif %}>Contact</a></li>
  </ul>
</nav>
