---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*********************************************************************************/
/* Variables                                                                     */
/*********************************************************************************/

// Media query breakpoints
// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
$screen-sm:                  736px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
$screen-md:                  980px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:                  1280px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// X-Large screen / widescreen desktop
$screen-xl:                  1800px !default;
$screen-xl-min:              $screen-xl !default;
$screen-xl-desktop:          $screen-xl-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-lg-max:              ($screen-xl-min - 1) !default;

/*********************************************************************************/
/* Mixins                                                                        */
/*********************************************************************************/

// Use media queries like this:
// @include media-query($screen-xs-min) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

/*********************************************************************************/
/* Skel Default                                                                  */
/*********************************************************************************/

// Import partials from `sass_dir` (defaults to `_sass`)
@import 'skel/vars';
@import 'skel/functions';
@import 'skel/mixins';
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic");
@import "skel/skel";

/*********************************************************************************/
/* HTML5Up Theme                                                                 */
/*********************************************************************************/
/*
  Strata by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/
@import 'skel/theme';

/*********************************************************************************/
/* Site CSS                                                                      */
/*********************************************************************************/

.image-no-overlay:before {
  background: none;
}

.text-center {
  text-align: center;
}

#footer {
  padding-bottom: 2em;
}

/* Landing Page */
#header, #header h1, #header a, #footer {
  //color: rgba(255, 255, 255, 0.5); // Default - good for darker backgrounds
  color: #f0f0f0;
}

#header, #footer {
  font-size: .9rem;
}

#header {
  //background-color: _palette(accent2, bg); //Default
  background-color: #a6a6a6; //This color should match the bottom of the background image
  @media only screen and (min-width: $screen-md-min) {
    background-size: auto, auto 115%; //Extend beyond screen to allow for parallax scroll
  }
  @media only screen and (max-width: $screen-sm-max)  {
    background-position: top left, center center !important; //Fix positioning flicker for non-CDN sites
  }
  a {
    border: none;
    &:hover {
      color: _palette(accent1, fg-light) !important;
    }
  }
  img {
    width: 60%;
    margin-bottom: 20px;
  }
  nav {
    margin-top: 30px;
    ul {
      list-style-type: none;
      li a.active {
        cursor: default;
        color: _palette(accent1, fg-light);
        &:hover {
          cursor: default;
          color: _palette(accent1, fg-light) !important;
        }
        @media only screen and (max-width: $screen-sm-max) {
          background-color: _palette(accent1, bg);
          color: white;
          padding: 5px 20px;
          border-radius: 3px;
          &:hover {
            cursor: default;
            color: white !important;
          }
        }
        @media only screen and (min-width: $screen-md-min) {
          &:before {
            margin-right: 5px;
            font-family: 'FontAwesome';
            content: '\f054'; //chevron
            //content: '\f0a9'; //circle arrow
          }
        }
      }
    }
  }
}

// Wide layout : main section wider | sidebar section narrower
$wide-layout-margin: 20%;

.img-avatar {
  display: none;
}

@media screen and (min-width: $screen-lg-min) {
  .header-narrow, .footer-narrow {
    width: $wide-layout-margin !important;
    padding-right: 3em !important;
  }

  .main-wide {
    margin-left: $wide-layout-margin !important;
    max-width: 100% !important;
    width: calc(100% - #{$wide-layout-margin}) !important;
  }

  .copyright-narrow {
    li {
      border-left: none !important;
    }
  }
}

/* Featured */
.card {
  padding: 40px;
  text-align: left;
}

// Adjust card popup styling
// Adjusting poptrox settings via js does not appear to be stable
.poptrox-popup .closer:before {
  //color: _palette(fg);
  //content: '\f057';
}

.poptrox-popup .caption {
  background-color: #e9e9e9;
}

.image.thumb:after {
  content: 'Read More';
}

/* Grantees */
a.grantee-thumb {
  border: none;
}

.thumb-fit {
  //object-fit: cover;
  max-width: 150px;
  max-height: 100px;
}
