---
layout: default
permalink: /:basename/
intro_text: Lorem ipsum dolor sit amet, dui nam sed, donec amet sit sapien aliquam turpis. Risus mauris numquam vestibulum egestas sodales, eget faucibus mollis sapien, metus eu id risus ultricies, a dolor quam.
---
<!-- Intro -->
<section id="grant-intro">
  <header class="major">
    <h2>Grantees</h2>
  </header>
  {% if page.intro_text %}
    <p>{{ page.intro_text }}</p>
  {% endif %}
  <ul class="actions actions-grants-nav">
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)">
        <!-- List.js Docs: http://www.listjs.com/examples/table -->
        <input class="search" id="db-search" type="text" placeholder="Search" />
      </div>
    </div>
  </ul>
  <!--ul class="actions actions-grants-nav">
    {% assign all_years = site.data.grants | sort %}
    {% for year in all_years reversed %}
      <li><a href="#{{year[0]}}" class="button small button-fit scrolly">{{year[0]}}</a></li>
    {% endfor %}
  </ul-->
</section>

<section id="grant-wrapper">
  <!-- Grants -->
  {% for year in all_years reversed %}
    <div id="{{ year[0] | slugify }}" class="js-listjs">
      <h3>{{ year[0] }}</h3>
      <table border="0px">
        <thead>
          <tr>
            <th class="sort" data-sort="db-grantee-name">Grantee Name</th>
            <th class="sort" data-sort="db-grantee-location">Location</th>
            <th class="sort" data-sort="db-grant-amount">Amount</th>
            <th>Purpose</th>
          </tr>
        </thead>
        <tbody class="list">

          <!-- Check if IRS Data File -->
          {% if year[1].Return %}

            <!-- Pull from IRS Data File -->
           {% include irs.html %}

          {% else %}

            <!-- Pull from CSV Template -->
            {% for grant in year[1] %}
              <tr>
                <td class="db-grantee-name">
                  {% if grant.grantee_url %}
                    <a target="_blank" href="{{ grant.grantee_url }}">{{ grant.grantee_name }}</a>
                  {% else %}
                    {{ grant.grantee_name }}
                  {% endif %}
                </td>
                <td class="db-grantee-location">{{ grant.grantee_location }}</td>
                <td class="db-grant-amount" data-grant-group-name="{{ year[0] }}" data-grant-amount="{{ grant.grant_amount | remove: ',' }}">{{ grant.grant_amount }}</td>
                <td class="db-grant-purpose">{{ grant.grant_purpose }}</td>
              </tr>
              {% capture total_grant_count %}{{ forloop.length }}{% endcapture %}
            {% endfor %}

          {% endif %}
        </tbody>
        <tfoot>
          <tr>
            <td>{{ total_grant_count }} Grants</td>
            <td></td>
            <td data-grant-group-total="{{ year[0] }}"></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
  {% endfor %}
</section>

<script src="{{ site.baseurl }}/assets/js/list.min.js"></script>
