<!DOCTYPE HTML>
<html>

  {% include head.html %}

  <body id="top">
    {% include base.html %}
    {% include header.html %}

    <!-- Main -->
    <div id="main">

      <!-- One -->
      <section id="one">
        <header class="major">
          <h2>{{ page.header_title }}</h2>
        </header>
        <p>
          {{ content }}
        </p>
      </section>

      <!-- Two -->
      <section id="two">
        <div class="row">
          <div class="12u$(small)">
            <ul class="labeled-icons">
              <li>
                <h3 class="icon fa-home"><span class="label">Address</span></h3>
                {{ site.foundation_name }}<br />
                {{ page.address_line_one }}<br />
                {% if page.address_line_two %}
                  {{ page.address_line_two }}<br />
                {% endif %}
                {{ page.city }}, {{ page.state }} {{ page.zip }}
              </li>
              <li>
                <h3 class="icon fa-phone-square"><span class="label">Phone</span></h3>
                {{ page.phone }}
              </li>
              <li>
                <h3 class="icon fa-fax"><span class="label">Fax</span></h3>
                {{ page.fax }} (fax)
              </li>
              {% if page.email %}
              <li>
                <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                <a href="mailto:{{ page.email }}">{{ page.email }}</a>
              </li>
              {% endif %}
              {% if site.grant_application_login %}
              <li>
                <h3 class="icon fa-external-link-square"><span class="label">Online Application Portal</span></h3>
                <a href="{{ site.grant_application_login }}">Online Application Portal</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </section>

      <!-- Alternative layout w/ form -->
      <!--section id="three">
        <h2>Contact</h2>
        <p><strong>Note:</strong> {{site.foundation_name}} does not accept unsolicited grant requests.</p>
        <div class="row">
          <div class="8u 12u$(small)">
            <form method="post" action="#">
              <div class="row uniform 50%">
                <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
                <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
                <div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
              </div>
            </form>
            <ul class="actions">
              <li><input type="submit" value="Send Message" /></li>
            </ul>
          </div>
          <div class="4u$ 12u$(small)">
            <ul class="labeled-icons">
              <li>
                <h3 class="icon fa-home"><span class="label">Address</span></h3>
                1234 Philanthropy Rd.<br />
                Bend, OR 97701<br />
                United States
              </li>
              <li>
                <h3 class="icon fa-mobile"><span class="label">Phone</span></h3>
                541-555-1212
              </li>
              <li>
                <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
                <a href="mailto:{{site.email_public}}">{{site.email_public}}</a>
              </li>
            </ul>
          </div>
        </div>
      </section-->
    </div>
    
    {% include footer.html %}
    {% include body-scripts.html %}
  </body>
  
</html>
